<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=EUC-KR">

<title>make room</title>

</head>

<!-- join_form.html -->

<body>

 <center>

   <h3>new room</h3>
    <form method="POST" action="">
      <table cellpadding="5" cellspacing="0"
            bgcolor="eeeeee">
        <tr>
          <td>Room Title:</td>
          <td>
		  	<input type="text" name="room_title">
          </td>
        </tr>
      </table>
      <input type="submit" value="MAKE"/>
    </form>

 </center>

</body>

</html>
