<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=EUC-KR">
<title>Room List</title>

</head>

<!-- join_form.html -->

<body>

 <center>

   <h3>Chat Rooms</h3>
   <div>
   		<ul id="room_list">
			<%-lists%>
		</ul>
   </div>
   <div>
		<button><a href="/make_room">new room</a></button>
   </div>
 </center>
 <script src="http://code.jquery.com/jquery-1.11.1.js"></script>

</body>

</html>
